<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!-- Header hook for plugins -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>
<body>
  {%- comment -%}
  {% for link in linklists.main-menu.links %}
  {% assign child_list_handle = link.title | handleize %}
  {% if linklists[child_list_handle].links != blank %}
  <a href="{{ link.url }}">{{ link.title }}</a>
  [{% for childlink in linklists[child_list_handle].links %}
  <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
  {% endfor %}]
  {% else %}
  <a href="{{ link.url }}">{{ link.title }}</a>
  {% endif %}
  {% endfor %}

  <a href="/cart">cart</a>

  {% if shop.customer_accounts_enabled %}
  {% if customer %}
  <a href="/account">account</a>
  {{ 'log out'  | customer_logout_link }}
  {% else %}
  {{ 'log in ' | customer_login_link }}
  {{ 'register' | customer_register_link }}
  {% endif %}
  {% endif %}
  {%- endcomment -%}
  <main role="main">{{content_for_layout}}</main>
</body>

</html>