<div class="text_alignment-{{section.settings.text_alignment}} hero_section" id="section_{{section.id}}">
    <div class="container">
        <div class="hero_text_block">
            <h1>{{section.settings.title}}</h1>
            {% if section.settings.copy != blank %}
            <p>{{section.settings.copy}}</p>
            {% endif %}
            {% if section.settings.cta_url != blank and section.settings.cta_text != blank %}
            <a href="{{section.settings.cta_url}}" class="btn btn_hero_cta">{{section.settings.cta_text}}</a>
            {% endif %}
        </div>
    </div>
</div>

<style>
    
    {% if section.settings.mobile_image != blank %}
    @media (max-width: 767.98px) {
        #section_{{section.id}} {
            background: url('{{section.settings.mobile_image | img_url: 'master'}}') center center no-repeat;
            background-size: cover;
        }
    }
    {% endif %}
    
    
    {% if section.settings.image != blank %}
    #section_{{section.id}} {
        background: url('{{section.settings.image | img_url: 'master'}}') center center no-repeat;
        background-size: cover;
    }
    {% endif %}
    {% if section.settings.color_picker != blank %}
    #section_{{section.id}} h1,
    #section_{{section.id}} p {
        color:{{section.settings.color_picker}}
    }
    {% endif %}
</style>
{%- comment -%}<img src="{{section.settings.mobile_image | img_url: 'master'}}" />
{%- endcomment -%}
{% schema %}
{
    "name": "Hero",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
    },
    {
        "type": "color",
        "id": "color_picker",
        "label": "Color Picker"
    },
    {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
        {
            "value": "left",
            "label": "Left"
        },
        {
            "value": "right",
            "label": "Right"
        },
        {
            "value": "center",
            "label": "Center"
        }
        ]
    },
    {
        "type": "text",
        "id": "title",
        "label": "Title"
    },
    {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
    },
    {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
    },
    {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
    }
    ],
    "presets": [
    {
        "category": "Custom Sections",
        "name": "Hero",
        "settings": {
            "color_picker": "#FFF",
            "text_alignment": "left",
            "title": "Hero Title",
            "copy": "Ea excepteur dolor consectetur duis mollit amet aliqua occaecat exercitation aute eu."
        }
    }
    ]
}
{% endschema %}